<!-- Top bar -->
<mat-toolbar color="primary" class="toolbar">
  <span class="title">Bookmarker</span>

  <div class="toolbar-center">
    <mat-form-field appearance="outline">
      <mat-icon matPrefix class="white">search</mat-icon>
      <input matInput type="text" class="white" placeholder="Filter bookmarks..." />
    </mat-form-field>
  </div>

  <button mat-icon-button>
    <mat-icon class="white">add</mat-icon>
  </button>
</mat-toolbar>

<!-- Content -->
<div class="page">
     @if ((bookmarksByDate$ | async); as grouped) {
         <!-- TODAY -->
          @if (grouped.today.length) {
            <app-bookmarks-list [title]="'Today'" [bookmarks]="grouped.today" />
          }

          <!-- YESTERDAY -->
          @if (grouped.yesterday.length) {
           <app-bookmarks-list [title]="'Yesterday'" [bookmarks]="grouped.yesterday" />
          }

          <!-- OLDER -->
          @if (grouped.older.length) {
            <app-bookmarks-list [title]="'Older'" [bookmarks]="grouped.older" />
          }
     }
</div>
