mat-toolbar {
  color: white;
  background: #3F51B5;
}

.page {
  max-width: 900px;
  margin: 32px auto;
  padding: 0 16px;
}

.toolbar {
  display: flex;
  align-items: center;
  height: 64px;
}

.title {
  font-size: 18px;
  font-weight: 500;
}

.toolbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.pointer {
    cursor: pointer;
}

mat-form-field {
  width: 320px;
  height: 64px;
}

mat-icon,
.mat-mdc-form-field input,
.mat-mdc-form-field mat-icon {
  &.white {
    color: white;
  }
}



:host::ng-deep {
  .mat-mdc-form-field {
    border: 0;
    background: transparent;
  }
   .mat-mdc-form-field input {
    background: transparent;
    height: 64px;
  }
  .mat-mdc-form-field .mdc-notched-outline__leading,
  .mat-mdc-form-field .mdc-notched-outline__trailing,
  .mat-mdc-form-field .mdc-notched-outline__notch {
    border:0;
  }
  .mdc-text-field__input.white,
  .mdc-text-field__input.white::placeholder {
    color: white!important;
  }

  .toolbar-search {
    width: 420px;
    }

    .toolbar-search .mat-mdc-text-field-wrapper {
    background: transparent;
    }

    .toolbar-search .mdc-notched-outline {
    display: none;
    }

    .toolbar-search .mdc-line-ripple {
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
    }

    .toolbar-search input {
    color: white;
    }

    .toolbar-search input::placeholder {
    color: rgba(255, 255, 255, 0.7);
    }

    .search-icon {
    color: white;
    }

    mat-icon {
    color: white;
    }

    .toolbar-search .mdc-line-ripple::before,
    .toolbar-search .mdc-line-ripple::after {
    border-bottom-color: white !important;
    }
}