<mat-toolbar color="primary" class="toolbar">
  <span class="title pointer" (click)="$event.stopPropagation()" [routerLink]="['/bookmarks']">Bookmarker</span>

  <div class="toolbar-center" >
    <mat-form-field appearance="fill" class="toolbar-search" [matTooltipDisabled]="!searchDisabled()" matTooltipPosition="below" [matTooltip]="disabledText">
      <mat-icon matPrefix class="white pointer">search</mat-icon>
      <input matInput type="text" class="white" [formControl]="form.controls.search" placeholder="Filter bookmarks..."
       />
    </mat-form-field>
  </div>

  <button mat-icon-button (click)="$event.stopPropagation()" [routerLink]="['/bookmarks', 'create']">
    <mat-icon class="white">add</mat-icon>
  </button>
</mat-toolbar>